<%= render "shared/navbar" %>
<div class="container text-center">
  <div class="cards">
    <h2><strong>Created Sessions</strong></h2>
    <% @created_sessions.each do |session| %>
      <div class="group-card">
        <div class="group-image">
          <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.group.group_picture %>" />
         <div class="session-name"><%= session.name %></div>
            <p><i class="far fa-calendar"></i> <%= session.time.strftime('%-d %B %Y') %></p>
            <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M') %></p>
      </div>
    <% end %>
    <div class="btn btn-primary">Create a Group</div>
    <div class="Sessions I'm a member of</strong></h2>
    <% @my_sessions.each do |session| %>
      <div class="group-card">
        <div class="group-image">
          <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.group.group_picture %>" />
        </div>
         <div class="session-name"><%= session.name %></div>
            <p><i class="far fa-calendar"></i> <%= session.time.strftime('%-d %B %Y') %></p>
            <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M') %></p>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/navbar_bottom" %>
