<%= render "shared/navbar" %>
<div class="container text-center">
  <div class="cards">
    <h2><strong>Created Sessions</strong></h2>
    <% @created_sessions.each do |session| %>
        <div class="group-card">
      <%= link_to session_path(session) do %>
          <div class="group-image">
            <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.group.group_picture %>" />
          </div>
      <% end %>
            <div class="session-name mt-2"><%= session.name %></div>
            <div class="d-flex justify-content-between" style="margin-right: 70px; margin-left: 70px; margin-bottom: 20px;">
              <div class="user-profile">
                  <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.user.picture %>" />
              </div>
              <div class="user-details">
                  <p><i class="far fa-calendar" ></i> <%= session.time.strftime('%-d %B %Y') %></p>
                  <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M') %></p>
              </div>
              <div class="edit-delete-icons">
                  <%= link_to edit_session_path(session) do %>
                      <i class="fa-solid fa-pen-to-square" style="color: #0e2954; font-size: 20px; margin: 5px;"></i>
                  <% end %>
                  <%= link_to session_path(session), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete } do %>
                      <i class="fa-solid fa-trash-can" style="color: #0e2954; font-size: 20px;"></i>
                  <% end %>
              </div>
          </div>
        </div>
    <% end %>
    <div class="button-container">
      <%= link_to "Create Session", new_session_path, class: "btn btn-primary m-3 ", style: "background-color: #C92C6D; border: 0px;" %>
    </div>
    <h2 class="header-session"><strong>My upcoming sessions</strong></h2>
    <% @my_sessions.each do |session| %>
      <% unless session.user.id === current_user.id %>
        <%= link_to session_path(session) do %>
          <div class="group-card">
            <div class="group-image">
              <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.group.group_picture %>" />
            </div>
            <div class="session-name"><%= session.name %></div>
            <div class="user-profile">
              <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.user.picture %>" />
            </div>
            <p><i class="far fa-calendar"></i> <%= session.time.strftime('%-d %B %Y') %></p>
            <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M') %></p>
          </div>
          <% attendancy =  Attendance.find_by(session: session) %>
          <%= link_to 'I am not going', attendance_path(attendancy), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "btn btn-danger m-3", style: "border-radius: 20px;"%>
        </div>

        <% end %>

      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/navbar_bottom" %>
