<%= render "shared/navbar" %>
<div class="container text-center">
  <div class="cards">
    <h2><strong>Created Sessions</strong></h2>
    <% @created_sessions.each do |session| %>
      <%= link_to session_path(session) do %>
        <div class="group-card">
          <div class="group-image">
            <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.group.group_picture %>" />
            <div class="session-name"><%= session.name %></div>
              <div class="user-profile">
                <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.user.picture %>" />
              </div>
              <p><i class="far fa-calendar"></i> <%= session.time.strftime('%-d %B %Y') %></p>
              <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M') %></p>
              <%= link_to 'Edit', edit_session_path(session), class: " btn btn-primary m-3", style: "background-color: #4e6cf0ef; width: 80px;"  %>
              <%= link_to 'Delete', session_path(session),data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: "btn btn-danger m-3"%>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="button-container">
      <%= link_to "Create Session", new_session_path, class: "btn btn-primary m-3 ", style: "background-color: #4e6cf0ef;" %>
    </div>
    <h2 class="header-session"><strong>My upcoming sessions</strong></h2>
    <% @my_sessions.each do |session| %>
      <% unless session.user.id === current_user.id %>
        <%= link_to session_path(session) do %>
          <div class="group-card">
            <div class="group-image">
              <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.group.group_picture %>" />
            </div>
            <div class="session-name"><%= session.name %></div>
            <div class="user-profile">
              <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= session.user.picture %>" />
            </div>
            <p><i class="far fa-calendar"></i> <%= session.time.strftime('%-d %B %Y') %></p>
            <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M') %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/navbar_bottom" %>
