<%= render "shared/navbar" %>
<div class="container">

  <div class="group-card mx-3">
    <h2 class="mt-2 text-center"><strong><%= @session.name %></strong></h2>
    <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= @session.group.group_picture %>" />
    <div class="session-card">
      <div class="session-name  p-3">
        <div class="d-flex user-profile align-items-center mb-2">
          <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= @session.user.picture %>" alt="Session creator picture">
          <p class="mx-2"><%= @session.user.first_name %></p>
        </div>
        <p><i class="fas fa-map-marker-alt" style="color: #0e2954;"></i>  <%= @session.city %>, <%= @session.street_name %> </p>
        <p><i class="fas fa-info-circle" style="color: #0e2954;"></i> <%= @session.description %> </p>
        <p><i class="far fa-calendar" style="color: #0e2954;"></i> <%= @session.time.strftime('%d-%m-%Y') %></p>
        <p><i class="fa-solid fa-clock" style="color: #0e2954;"></i><%= @session.time.strftime('%H:%M:%S') %></p>
      </div>
    </div>
  </div>
  <% if Attendance.where(user: current_user, session: @session).empty? %>
    <%= link_to 'Send Request', session_attendances_path(@session), data: { turbo_method: :post }, class: "send-request btn btn-primary mx-3", id: "send-request-button" %>
  <% else %>
    <div class="card-going"> <h6>"You are going this session"</h6> </div>
  <% end %>
  <div class="comments-card m-3">
    <% if @session.attended_by_current_user?(current_user) %>
            <strong><h1>Comments</h1> </strong>
      <% @comments.each do |comment| %>
        <div class="card-general-comment">
          <div class="user-info">
            <h2><%= comment.user.first_name %></h2>
            <p><%= comment.created_at.strftime('%H:%M:%S') %></p>
          </div>
          <p class="comment-content">
            <%= comment.content %>
          </p>
        </div>
      <% end %>
    <% end %>
    <div class="card-comment-form ">
      <%= simple_form_for [@session, @comment] do |f| %>
        <%= f.input :content, class: "rounded" %>
        <%= f.submit "Submit ", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/navbar_bottom" %>
