
<%= render "shared/navbar" %>
<div class="container">
  <div class="group-card">
      <h2><%= @session.name %></h2>
      <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= @session.group.group_picture %>" />
    <div class="session-card">
      <div class="session-name text-white p-3">
        <p><i class="fas fa-map-marker-alt"></i>  <%= @session.address %> </p>
        <p><i class="fas fa-info-circle"></i> <%= @session.description %> </p>
        <p><i class="far fa-calendar"></i> <%= @session.time.strftime('%d-%m-%Y') %></p>
        <p><i class="fa-solid fa-clock"></i><%= @session.time.strftime('%H:%M:%S') %></p>
      </div>
    </div>
  </div>
  <%= link_to 'Send request', join_group_session_path(@session), method: :post, class: "btn btn-primary text-center mx-5" %>
</div>
<%= render "shared/navbar_bottom" %>

