<%= render "shared/navbar" %>
<div class="container">
  <div class="group-card">
    <h2><%= @session.name %></h2>
    <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= @session.group.group_picture %>" />
    <div class="session-card">
      <div class="session-name text-white p-3">
        <p><i class="fas fa-map-marker-alt"></i>  <%= @session.address %> </p>
        <p><i class="fas fa-info-circle"></i> <%= @session.description %> </p>
        <p><i class="far fa-calendar"></i> <%= @session.time.strftime('%d-%m-%Y') %></p>
        <p><i class="fa-solid fa-clock"></i><%= @session.time.strftime('%H:%M:%S') %></p>
      </div>
    </div>
  </div>
  <%= link_to 'Send Request', session_attendances_path(@session), data: { turbo_method: :create }, class: "btn btn-primary m-3" %>
  <% if @session.attended_by_current_user?(current_user) %>
    <% @comments.each do |comment| %>
      <div class="card-general-comment">
        <div class="card-comment">
          <h3>Comments</h3>
          <%= comment.user.first_name %>
          <%= comment.content %>
        </div>
      </div>
    <% end %>
    <div class="card-form">
      <%= simple_form_for [@session, @comment] do |f| %>
        <%= f.input :content %>
        <%= f.submit "Submit ", class: "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
<%= render "shared/navbar_bottom" %>
