<%= render "shared/navbar" %>
<div class="container">
  <div class="group-card mx-3">
    <h2><%= @session.name %></h2>
    <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= @session.group.group_picture %>" />
    <div class="session-card">
      <div class="session-name text-white p-3">
        <p><i class="fas fa-map-marker-alt"></i>  <%= @session.address %> </p>
        <p><i class="fas fa-info-circle"></i> <%= @session.description %> </p>
        <p><i class="far fa-calendar"></i> <%= @session.time.strftime('%d-%m-%Y') %></p>
        <p><i class="fa-solid fa-clock"></i><%= @session.time.strftime('%H:%M:%S') %></p>
      </div>
    </div>
  </div>
    <% if Attendance.where(user: current_user, session: @session).empty? %>
        <%= link_to 'Send Request', session_attendances_path(@session), data: { turbo_method: :create }, class: "send-request btn btn-primary mx-3", id: "send-request-button" %>
    <% else %>
      <div class="card-going"> <h6>"You are going this session"</h6> </div>
    <% end %>
  <div class="comments-card m-3">
    <% if @session.attended_by_current_user?(current_user) %>
      <% @comments.each do |comment| %>
            <strong><h1>Comments</h1> </strong>
          <div class="card-general-comment ">
            <h2><%= comment.user.first_name %> </h2>
            <p class="context mx-3">
            <%= comment.content %>
            </p>
        </div>
      <% end %>
      <div class="card-comment-form ">
        <%= simple_form_for [@session, @comment] do |f| %>
          <%= f.input :content %>
          <%= f.submit "Submit ", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/navbar_bottom" %>
