<%= render "shared/navbar" %>
<div class="cards">
  <% @my_groups.each do |group| %>
      <%= image_tag group.group_picture %>
        <%= group.name %>
        <%= group.description %>
  <% end %>
</div>
<%= render "shared/navbar_bottom" %>
