<%= render "shared/navbar" %>
<div class="container">
  <div class="bg-white rounded p-3 shadow text-dark">
      <%= simple_form_for @group do |f| %>
        <%= f.input :name %>
        <%= f.input :description%>
        <%= f.input :group_picture, as: :file %>
        <%= f.association :subject, collection: @subjects, label: 'Select Subject' %>
        <%= f.submit class: "btn btn-primary m-3", style: "background-color: #4e6cf0ef;" %>
      <% end %>
  </div>
</div>
<%= render "shared/navbar_bottom" %>
