<%= render "shared/navbar" %>
<div class="container text-center">
  <div class="cards">
    <div class="group-card">
      <div class="group-image">
        <h2><%= @group.name %></h2>
        <img src="https://res.cloudinary.com/dbe6henkk/image/upload/v1693559281/<%= @group.group_picture %>" alt="<%= @group.name %> Image"  />
      </div>
      <div class="group-details">
        <%= @group.description %>
      </div>
    </div>

</div>
     <h2 class="text-center mt-3"><strong>Upcoming Sessions</strong></h2>
  <div id="session-cards">
      <% @group.sessions.each do |session| %>
        <div class="session-card" >
          <div class="session-name text-white p-3">
            <p><i class="fas fa-map-marker-alt"></i>  <%= session.address %> </p>
            <p><i class="fas fa-info-circle"></i> <%= session.description %> </p>
            <p><i class="far fa-calendar"></i> <%= session.time.strftime('%d-%m-%Y') %></p>
            <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M:%S') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if Membership.where(user: current_user, group: @group).empty? %>
  <%= link_to 'Join Group', join_group_path(@group), data:{turbo_method: :post}, class: 'btn btn-primary' %>
  <% else %>
  <div class="card-going"> <h6>"You are member of this group"</h6> </div>
  <% end %>

<%= render "shared/navbar_bottom" %>
