<%= render "shared/navbar" %>
<div class="text-center">
  <div style="width: 90%; height: 258px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>

<% @my_sessions.each do |session| %>
<%= session.name %>
<%= image_tag session.group.group_picture %>
<% end %>
  <%= render "shared/navbar_bottom" %>
