<%= render "shared/navbar" %>
<div class="container">
  <div class="map d-flex justify-content-center mt-3">
    <div style="width: 90%; height: 258px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <h2 class="text-center mt-3"><strong>Upcoming Sessions</strong></h2>
  <% @my_sessions.each do |session| %>
    <div class="session-card">
      <div class="session-details">
        <%= link_to group_session_path(session.group, session) do %>
        <div class="d-flex justify-content-between ">
          <div>
            <div class="session-name"><%= session.name %></div>
            <p><i class="far fa-calendar"></i> <%= session.time.strftime('%-d %B %Y') %></p>
            <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M') %></p>
          </div>
          <div>
            <%= image_tag "https://res.cloudinary.com/ddfjqexgw/image/upload/v1693663058/icons/#{session.group.subject.icon_creator}", class:"icon-creator" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/navbar_bottom" %>
