<%= render "shared/navbar" %>
<div class="container">
  <%= form_tag search_path, method: :get do %>
    <div class="search-container mb-2">
      <%= text_field_tag :search, params[:search], placeholder: 'Search', class: "input-width search-input" %>
      <button type="submit" class="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  <% end %>
  <h1 class="text-center">Groups</h1>
  <div class="cards">
    <% @groups.each do |group| %>
      <a href="<%= group_path(group) %>">
        <div class="d-flex align-items-center p-2 group-card-search">
          <%= image_tag "https://res.cloudinary.com/ddfjqexgw/image/upload/v1693663058/icons/#{group.subject.icon_creator}", class:"icon-creator" %>
          <div class="group-details">
            <div class="group-name text-center"><%= group.name %></div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
  <div class="card bg-dark my-4"></div>
  <h1 class="text-center">Sessions</h1>
  <% @sessions.each do |session| %>
    <div class="session-card">
      <div class="session-details">
        <%= link_to session_path(session) do %>
          <div class="d-flex justify-content-between">
            <div>
              <div class="session-name"><%= session.name %></div>
              <p><i class="far fa-calendar"></i> <%= session.time.strftime('%-d %B %Y') %></p>
              <p><i class="fa-solid fa-clock"></i><%= session.time.strftime('%H:%M') %></p>
            </div>
            <div>
              <%= image_tag "https://res.cloudinary.com/ddfjqexgw/image/upload/v1693663058/icons/#{session.group.subject.icon_creator}", class:"icon-creator" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render "shared/navbar_bottom" %>
