<div class=" justify-content-center">
  <div class="mt-4 text-center">
    <h2>Log in</h2>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: user_session_path) do |f| %>
    <div class="d-flex justify-content-center">
      <div class="form-inputs login-card">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
    </div>
    <div class="form-actions mt-3 create-button">
      <%= f.button :submit, "Login" %>
    </div>
  <% end %>
  <div class="shared-buttons">
    <%= render "devise/shared/links" %>
  </div>
</div>
